<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iwn"
        tools:targetApi="31">
        <activity
            android:name=".congo.StarActivity"
            android:exported="false"
            android:label="@string/title_activity_star"
            android:theme="@style/Theme.Iwn" />
        <activity
            android:name=".cat.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Iwn" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Iwn" />
        <activity
            android:name=".Post.PostActivity"
            android:exported="false"
            android:label="@string/title_activity_post"
            android:theme="@style/Theme.Iwn" />
        <activity
            android:name=".ngoprofile.NgoprofileActivity"
            android:exported="true"
            android:label="@string/title_activity_ngoprofile"
            android:theme="@style/Theme.Iwn"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Iwn" />
        <activity
            android:name=".onboarding.signup.SignupActivityui"
            android:exported="false"
            android:label="@string/title_activity_signup_activityui"
            android:theme="@style/Theme.Iwn" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Iwn">

        </activity>
    </application>

</manifest>